.root {
    display: flex;
    width: 100%;
    font-size: .12rem;
    text-align: center;
    justify-content: space-evenly;
    li {
        width: 30%;
        border: 1px solid #ccc;
        box-shadow: .02rem .02rem .02rem #ccc, -.01rem -.01rem .02rem #ccc;
        text-align: center;
        div {
            font-size: .13rem;
            padding: .03rem 0;
            width: 88%;
            margin: 0 auto;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
        .pic {
            width: 100%;
            height: 1rem;
            // background-color: #fbe7df;
            padding: 0;
            img {
                width: 90%;
                height: 100%;
            }
        }
    }
}