.root {
  height: .45rem;
  width: 100%;
  background-color: #fff;
  line-height: .5rem;
  font-size: .16rem;
  font-weight: 600;
  padding: 0 .2rem;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 45px;
  z-index: 2;
}