.articleheader {
    position: relative;
    height: 40px;
    width: 100%;
    ul {
        display: flex;
        width: 70%;
        position: absolute;
        left: 50%;
        right: 0;
        transform: translateX(-50%);
        li {
            flex: 1;
            height: 40px;
            line-height: 40px;
            text-align: center;
            .active {
                color: red
            }
        }
    }
}