.item {
    margin-bottom: .05rem;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #eee;
    border-radius: 10px;
    .pic {
        float: left;
        width: .7rem;
        height: .7rem;
        margin-right: .1rem;
        position: relative;
        div {
            height: .7rem;
            div {
                height: .7rem;
            }
        }
        img.img {
            // border-radius: 50%;
            object-fit: contain;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .category {
        position: absolute;
        top: .07rem;
        right: .2rem;
    }
    .createTime {
        font-size: .1rem;
        line-height: .25rem;
        float: right;
        margin-top: .08rem;
    }
    .content {
        width: 1.5rem;
        float: left;
        margin-top: .08rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .title {
        padding-top: .1rem;
        font-weight: 500;
    }
    .del {
        width: .3rem;
        height: .16rem;
        padding-left: .02rem;
        padding-right: .02rem;
        line-height: .16rem;
        font-size: .1rem;
        position: absolute !important;
        top: .33rem;
        right: .14rem;
        margin-right: 0;
    }
}
